

.ant-form-item-explain-error {
    text-align: left !important;
}


.app-btn{
    min-width: 7rem;
    min-height: 40px !important;
    background: none;
    border: none;
    box-shadow: none;
    color: #BBE2FF;
    &:hover{
        color: #BBE2FF !important;
       background: linear-gradient(180deg, rgba(51, 86, 139, 0.2) 0%, rgba(0, 117, 255, 0.2) 100%) !important;
       box-shadow: 0px -1.5px 7.3px 0px #0075FF inset; 
       border: 1px solid linear-gradient(180deg, #708899 58.5%, #BBE2FF 100%);
   }
}


@media (max-width: 750px) {
    .app-container{
  overflow: hidden;
    }
}

